.house {
    max-width: 30px;
    max-height: 30px;
}
.homelnks{
    font-size: 20px;
  text-decoration: none;
  padding: 50px 0px 0px 60px;
  
}
:link{
   text-decoration:none;
   color: black;
   font-weight: 800;
   
}