.house {
	max-width: 30px;
	max-height: 30px;
}
.homelnks {
	font-size: 50px;
	padding: 50px 50px 0px 290px;
	margin: 5px;
  display: inline-block;
	font-weight: 800;
	text-decoration: none;
  color: #fcc9c5;
  
}
.header {
	background-color: #92908d;
}

.container {
	background-color: #b9cbd9;
	height: 100em;
	font-size: 25px;
}
.todoForm {
	width: 80%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}
.btn {
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	font-size: 20px;
	color: #c5968f;
}
.advicehead {
	color: #6b615a;
	text-align: center;
	padding: 70px 50px 0px 290px;
}
.homequote {
	color: #695958;
	text-align: center;
	padding: 200px 50px 0px 290px;
	font-size: 70px;
}
@media only screen and (max-width: 600px) {
	.house {
		max-width: 50px;
		max-height: 30px;
	}

	.homelnks {
		font-size: 30px;
		padding: 0px 0px 0px 0px;
		margin: 20px;

		font-weight: 800;
		text-decoration: none;
		color: #fcc9c5;
	}
	.container {
		background-color: #b9cbd9;
		height: 25em;
		font-size: 25px;
	}
	.btn {
		padding: 5px 10px;
		margin: 8px 0;
		display: inline-block;
		font-size: 20px;
		color: #c5968f;
	}
	.todoForm {
		width: 65%;
		padding: 12px 20px 10px;
		margin: 15px 10px;
		display: inline-block;
		border: 1px solid #ccc;
		border-radius: 4px;
		box-sizing: border-box;
	}
	.advicehead {
		color: #6b615a;
		text-align: center;
		padding: 10px 0px 0px 20px;
		font-size: 40px;
	}
	.homequote {
		color: #695958;
		text-align: center;
		padding: 0px 0px 0px 0px;
		font-size: 30px;
	}
}
